@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .clip-style {
 
        clip-path: polygon(0 100%, 100% 100%, 100% 75%, 100% 5%, 11% 5%, 6% 0, 0 5%);
 
    }
    .scrollbar::-webkit-scrollbar {
        width: 12px;
        height: 20px;
      }
    
      .scrollbar::-webkit-scrollbar-thumb {
        background: #9ca3af;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
      }
    
      .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #e5e7eb;
      }
 
 }

html {
    font-family: "Merriweather"
}